<!doctype html>

<html>
<head>
    <title>History</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="js/collaborate.js"></script>
    <script src="js/login.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
   <!--  <script>
        var chk = checkLogin("grp2Login")
        if(!chk){
            window.location.href = "index.html";
        }
    </script> -->
</head>

<body id ='list'>
<div class="container">
    <header>
        <h1>Last issue</h1>
    </header>

    <div class="content">



    </div><!--container-->

    <footer>
    </footer>
</div>


</body>

</html>

<!--         <h1 class="text-center">Employee List</h1>

        <div class="row">
            <a href="" onclick="logout()" class="pull-right" style="margin-right: 170px"> Logout </a>
        </div>
        <br/>
        <br/>
        <div class="row">
            <aside>
                <a href="createEmployee.html" class="btn btn-primary pull-right" style="margin-right: 170px">Add
                    Employee</a>
            </aside>
        </div>

        <div class="row" id="list-title">
            <div class="col-md-8 col-md-offset-2">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Years</th>
                        <th>Salary</th>
                    </tr>

                    <script>
                        var storage = localStorage.getItem("employee");
                        var employees = JSON.parse(storage);
                        for (var key in employees) {
                            document.write("<tr>" +
                                "" + "<td>"+employees[key].Name+"</td>" +
                                "" + "<td>"+employees[key].Level_name+"</td>" +
                                "" + "<td>"+employees[key].Years+"</td>" +
                                "" + "<td>"+employees[key].Salary+"</td>" +
                                "</tr>");
                        }
                    </script>

                </table>
            </div>

        </div> -->